.about {

    padding: 0 16px;

    h1 {
        font-family: 'Avenir Next LT Pro Demi';
        font-size: 24px;
        padding: 24px 0 16px 0;
    }

    p {
        font-family: 'Avenir Next LT Pro Demi';
        font-size:14px;
        padding: 0 0 16px 0;
    }

    h3 {
        font-family: 'Avenir Next LT Pro Demi';
        font-size:14px;
        padding: 0 0 16px 0;
    }

    article {
        font-family: 'Avenir Next LT Pro Regular';
        font-size:13px;
        padding: 0 0 16px 0;
    }

    img {
        width:100%;
        height:auto;
        padding: 0 0 16px 0;
    }


}