.about {

    padding: 0 16px;

    h1 {
        font-family: 'Avenir Next LT Pro Demi';
        font-size: 1.7rem;
        padding: 24px 0 16px 0;
    }

    p {
        font-family: 'Avenir Next LT Pro Demi';
        padding: 0 0 16px 0;
    }

    h3 {
        font-family: 'Avenir Next LT Pro Demi';
        padding: 0 0 16px 0;
    }

    article {
        font-family: 'Avenir Next LT Pro Regular';
        font-size:0.93rem;
        padding: 0 0 16px 0;
    }

    img {
        width:100%;
        height:auto;
        padding: 0 0 16px 0;
    }

}

@include tablet {

        

        .about {

            padding: 0;

            h3 {
                font-family: 'Avenir Next LT Pro Demi';
                font-size:1.7rem;
                padding: 0 80px 36px 80px;
            }
    
            img {
                box-sizing: border-box;
                max-width:100%;
                max-height:100%;
                padding: 0 80px 36px 80px;
            }
            
            h1 {
                padding: 48px 0 36px 36px;
                font-size:2.57rem;
            }

            

            &__quotation {
            
                padding: 0 80px 36px 80px;

                &--quote {
                    font-family: 'Avenir Next LT Pro Demi';
                    font-size:1.7rem;
                }

                &--credit {
                    font-family: 'Avenir Next LT Pro Demi';
                    font-size:1rem;
                }
            }

            &__article {
                display:flex;
                font-family: 'Avenir Next LT Pro Regular';
                font-size:1rem;
                padding: 0 80px 36px 80px;

                :last-child {
                    padding: 0 0 0 36px;
                }
            }
            
        }

        

}

    



@include desktop {

    .about {
        
        width:1020px;

        &__container {
            display:flex;
            justify-content: center;
        }

        &__quotation {
            

            &--quote {
                width:710px;
        }

    }

}
}