@use '../variables';
@use '../mixins';

.comments {

    padding: 0 1.14rem;
    color:variables.$bandsite-black;


    &__header {
        font-family: 'Avenir Next LT Pro Demi';
        font-size: 1.7rem;
        padding: 1.7rem 0 1.14rem 0;
    }

    input::placeholder {
        color: variables.$bandsite-black;
    }

    input:focus {
        outline: none;
        border-color: variables.$bandsite-black;
    }

    &__input {

        display:flex;
        width:100%;

        &--avatar {
            width:36px;
            height:36px;
            object-fit: cover;
            border-radius: 50%;
            background-color: variables.$mercury;

            margin: 1.4rem 1.14rem 0 0;
        }

        &--title {
            color:variables.$silver;
            font-size:0.71rem;
            font-family: 'Avenir Next LT Pro Demi';
            padding: 0 0 0.29rem 0;
        }

        &--name-field, &--comment-field {
            @include mixins.formfield-mobile
        }

        &--comment-field {
            height:5rem;
        }

        &--button {
            background-color: variables.$bandsite-black;
            box-sizing: border-box;
            height:2.86rem;
            width:100%;
            border:none;
            border-radius: 4px;
            color:variables.$white;
            font-family:'Avenir Next LT Pro Demi' ;
            margin:0 0 1.14rem 0;
        }

        &--button:hover {
            background-color: variables.$bandsite-darkblack;
            cursor:pointer;
        }

        &--section2 {
            width:100%;
        }

    
    }

}

.panel {

    padding: 0 1.14rem;

    &__comment {

        border-top: solid 1px variables.$mercury;
        padding: 1.14rem 0;
        display:flex;
        width:100%;

        
        &--avatar {
            
            min-width:36px;
            height:36px;
            background-color: variables.$mercury;
            border:none;
            border-radius:50%;
            object-fit:fill;
            margin-right:1.14rem;
        }

        &--container {
            width:100%;
        }

        &--details {
            display:flex;
            text-align: center;
            justify-content: space-between;
            width:100%;

            h3 {
                font-family: 'Avenir Next LT Pro Demi';
                font-size: 1.14rem;
                color:variables.$bandsite-black;
                padding: 0 0 1.14rem 0;
            }

            span {
                color:variables.$silver;
            }

        }

    }

}


.panel__comment:last-child {
    border-bottom: solid 1px variables.$mercury;
    padding: 1.14rem 0;
    margin-bottom: 1.14rem;
}

@include mixins.tablet {
    .comments {

        padding: 0;
    
    
        &__header {
            font-family: 'Avenir Next LT Pro Demi';
            font-size:2.57rem;
            padding: 3.43rem 0 2.57rem 2.57rem;
        }
    
        h3 {
            color:variables.$silver;
            font-size:0.71rem;
            font-family: 'Avenir Next LT Pro Demi';
            padding: 0 0 0.29rem 0;
        }
    
        &__input {

            padding: 0 5.7rem;
            box-sizing: border-box;
    
            &--avatar {
    
                margin: 1.4rem 1.14rem 0 0;
            }
    
            &--name-field, &--comment-field {
                @include mixins.formfield-mobile
            }
    
            &--comment-field {
                height:5rem;
            }
    
            &--button {
                background-color: variables.$bandsite-black;
                box-sizing: border-box;
                height:2.86rem;
                width:30%;
                border:none;
                border-radius: 4px;
                color:variables.$white;
                font-family:'Avenir Next LT Pro Demi' ;
                margin-bottom:1.14rem;
                margin-left:70%;
            }
    
            &--button:hover {
                background-color: variables.$bandsite-darkblack;
                cursor:pointer;
            }
    
            &--section2 {
                width:100%;
            }
    
        
        }
    
    }
    
    .panel {
    
        padding: 0 5.7rem;
    
        &__comment {
    
            border-top: solid 1px variables.$mercury;
            padding: 1.14rem 0;
            display:flex;
    
            
            &--avatar {
                
                min-width:36px;
                height:36px;
                background-color: variables.$mercury;
                border:none;
                border-radius:50%;
                object-fit:fill;
                margin-right:1.14rem;
            }
    
            &--details {
                display:flex;
                text-align: center;
                justify-content: space-between;
                width:100%;
    
                h3 {
                    font-family: 'Avenir Next LT Pro Demi';
                    font-size: 1.14rem;
                    color:variables.$bandsite-black;
                    padding: 0 0 1.14rem 0;
                }
    
                span {
                    color:variables.$silver;
                }
    
            }
    
        }
    
    }
    
    
    .panel__comment:last-child {
        border-bottom: solid 1px variables.$mercury;
        padding: 1.14rem 0;
        margin-bottom: 1.14rem;
    }
}

@include mixins.desktop {

    .comments {

        &__header {

            width:1020px;
            box-sizing: border-box;
            &--container {
                display:flex;
                justify-content: center;
            }
            
        }
        &__input {
            width:50%;
            margin:auto;
        }
            
    }
    .panel {
        box-sizing:border-box;
        width:50%;
        margin:auto;
    }
}