.footer {
    background-color: $bandsite-black;
    color:$white;
    padding: 0 1.14rem;


    h1 {
        font-family: 'Avenir Next LT Pro Demi';
        font-size:1.7rem;
        padding: 1.7rem 0 1.14rem 0;
    }

    h2 {
        font-family: 'Avenir Next LT Pro Demi';
        font-size:1rem;
    }

    p {
        font-size:0.93rem;
    }

    img {
        padding: 0 1.14rem 1.14rem 0;
    }

    &__heading {

        &--logotabdesk {
            display:none;
        }
    }

    &__section {

        &--component {
        padding: 0 0 1.14rem 0;
        }

        &--logomobile {
            padding: 2.57rem 0 0 0;
        }

        &--legal {

            p{
                padding: 0 0 1.14rem 0;
                font-size:0.625rem;
            }  
        }
    }

    


}

@include tablet {

    .footer {
        padding: 0 2.57rem;

        h1 {
            font-family: 'Avenir Next LT Pro Demi';
            font-size:2.57rem;
            padding: 3.43rem 0 2.57rem 0;
        }
    
        h2 {
            font-family: 'Avenir Next LT Pro Demi';
            font-size:1rem;
        }
    
        p {
            font-size:0.93rem;
        }
    
        img {
            padding: 0 0 0 2.57rem;
        }
    
        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            &--left {
                display:flex;
                align-items: baseline;
            }

            &--logotabdesk {
                display:flex;
                justify-content: flex-end;
            }
        }

        &__section {
            
            display:flex;
            justify-content: space-between;

            &--component {
            padding: 0 0 2.57rem 0;
            }
    
            &--logomobile {
                display:none;
            }

            &--legal {
            
                p{
                    padding: 0 0 2.57rem 0;
                }  
            }
        }
    }

    

}

@include desktop {

    .footer {
        box-sizing:border-box;
        padding:0 2.57rem;
        width:1020px;
    
        &__container {
            background-color: $bandsite-black;
            display:flex;
            justify-content: center;
        }

        &__section {
            
            width:660px;
            display:flex;
            justify-content: space-between;

            &--component {
            padding: 0 0 2.57rem 0;
            }
    
            &--logomobile {
                display:none;
            }
        }
    }
}