.hero {
    
    text-align: left;
    position: relative;
    
    img {
        width: 100%;
        height: auto;

    }

    &__text {

        &--outer {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 9;
            color:$white;
            font-size: 24px;
            font-family: 'Avenir Next LT Pro Demi';
            padding: 0 16px;
        }

        &--overlay {
            display:block;
            position:absolute;
            width:100%;
            height:100%;
            background:$bandsite-black;
            opacity:0.5;
            top:0;
            overflow:hidden;
        }

    }

    @include tablet {
        h1 {
            font-size: 36px;
            padding: 0 36px;
        }
    }
}