.shows {

    h1 {
        font-family: 'Avenir Next LT Pro Demi';
        font-size: 1.7rem;
        padding: 1.7rem 1.14rem 0 1.14rem;
    }

    h3 {
        color:$silver;
        font-size:0.71rem;
        font-family: 'Avenir Next LT Pro Demi';
        padding: 1.14rem 0 0.29rem 0;
    }

    button {
        background-color: $bandsite-black;
        box-sizing: border-box;
        height:2.86rem;
        width:100%;
        border:none;
        border-radius: 4px;
        color:$white;
        font-family:'Avenir Next LT Pro Demi' ;
        margin: 1.14rem 0;
    }

    button:hover {
        background-color: $bandsite-darkblack;
        cursor:pointer;
    }

    &__heading {
        display:none;
    }
    
    &__listing {
        border-bottom: solid 1px $mercury;
        padding: 0 1.14rem;

        &--date {
            font-family: 'Avenir Next LT Pro Demi';
        }
    }
    
    :last-child {
        margin-bottom:1.14rem;
    }

    &__headers {
        display:none;
    }
} 

@include tablet {
    .shows {

        h1 {
            font-size:2.57rem;
            padding: 3.43rem 2.57rem 0 2.57rem;
        }
    
        h3 {
            color:$silver;
            font-size:0.71rem;
            font-family: 'Avenir Next LT Pro Demi';
            padding: 1.14rem 0 0.29rem 0;
        }
    
        button {
            background-color: $bandsite-black;
            box-sizing: border-box;
            height:2.86rem;
            width:20%;
            border:none;
            border-radius: 4px;
            color:$white;
            font-family:'Avenir Next LT Pro Demi' ;
            margin: 1.14rem 0;
            padding:0 2.29rem;
        }

        &__heading {
            display:flex;
            justify-content: space-between;
            width:100%;
            padding:0 2.57rem;
            box-sizing: border-box;

            &--date {
                width:20%;
                text-align:left;
            }
            &--venue {
                width:20%;
                text-align:left;
            }
            &--location {
                width:20%;
                text-align:left;
            }
            &--button {
                width:20%;
                text-align:left;
            }
        }
    
        &__listing {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0  2.57rem;
            align-items: center;
            text-align:left;
    
            &--date {
                width:20%;
                text-align:left;
            }
            &--venue {
                width:20%;
                text-align:left;
            }
            &--location {
                width:20%;
                text-align:left;
            }

            &--header {
                display:none;
            }
        }
        
        :last-child {
            margin-bottom: 2.57rem;
        }

        &__headers {
            display:flex;
            justify-content: space-between;
        }
    }
}