@font-face {
    font-family: "Avenir Next LT Pro Regular";
    src: url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir Next LT Pro Demi";
    src: url("/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir Next LT Pro Bold";
    src: url("/assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
}