@use './variables';

@mixin tablet {
    @media (min-width: variables.$tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$desktop-width) {
        @content;
    }
}

@mixin formfield-mobile {
    box-sizing:border-box;
    min-height:2.57rem;
    width:100%;
    border: 1px solid variables.$mercury;
    border-radius: 4px;
    line-height: 0;
    padding:0.86rem;
    margin: 0 0 1.14rem 0;

    ::placeholder{
        color:red;
    }
}