// primary colour variables

$bandsite-black:#323232;
$silver:#AFAFAF;
$white:#FFFFFF;

// secondary colour variables

$bandsite-barkblack:#000000;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;

// breakpoints

$tablet-width: 768px;
$desktop-width: 1280px;