@font-face {
  font-family: "Avenir Next LT Pro Regular";
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro Demi";
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro Bold";
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h1, h2, p, section, article {
  font-family: "Avenir Next LT Pro Regular";
}

.about {
  padding: 0 1.14rem;
  color: #323232;
}
.about h1 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1.7rem;
  padding: 1.7rem 0 1.14rem 0;
}
.about h2 {
  font-family: "Avenir Next LT Pro Demi";
  padding: 0 0 1.14rem 0;
  line-height: 1.6rem;
}
.about p {
  font-family: "Avenir Next LT Pro Demi";
  padding: 0 0 1.7rem 0;
  line-height: 1.6rem;
}
.about h3 {
  font-family: "Avenir Next LT Pro Demi";
  padding: 0 0 1.14rem 0;
}
.about article {
  font-family: "Avenir Next LT Pro Regular";
  font-size: 0.93rem;
  padding: 0 0 1.14rem 0;
  line-height: 1.3rem;
}
.about img {
  width: 100%;
  height: auto;
  padding: 0 0 1.14rem 0;
}

@media (min-width: 768px) {
  .about {
    padding: 0;
  }
  .about h3 {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 1.7rem;
    padding: 0 5.7rem 1.14rem 5.7rem;
  }
  .about h2 {
    font-family: "Avenir Next LT Pro Demi";
    padding: 0 0 1.14rem 0;
    line-height: 2.29rem;
  }
  .about img {
    box-sizing: border-box;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 50vw;
    padding: 0 5.7rem 2.57rem 5.7rem;
  }
  .about h1 {
    padding: 3.43rem 0 2.57rem 2.57rem;
    font-size: 2.57rem;
  }
  .about__quotation {
    padding: 0 5.7rem 2.57rem 5.7rem;
  }
  .about__quotation--quote {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 1.7rem;
  }
  .about__quotation--credit {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 1rem;
    padding: 0;
  }
  .about__article {
    display: flex;
    font-family: "Avenir Next LT Pro Regular";
    font-size: 1rem;
    padding: 0 5.7rem 2.57rem 5.7rem;
  }
  .about__article article {
    line-height: 1.57rem;
  }
  .about__article :last-child {
    padding: 0 0 0 2.57rem;
  }
}
@media (min-width: 1280px) {
  .about {
    width: 1020px;
  }
  .about__container {
    display: flex;
    justify-content: center;
  }
  .about__quotation--quote {
    width: 710px;
  }
}
.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1.14rem;
}
.footer h1 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1.7rem;
  padding: 1.7rem 0 1.14rem 0;
}
.footer h2 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1rem;
}
.footer p {
  font-size: 0.93rem;
}
.footer img {
  padding: 0 1.14rem 1.14rem 0;
}
.footer__heading--logotabdesk {
  display: none;
}
.footer__section--component {
  padding: 0 0 1.14rem 0;
}
.footer__section--logomobile {
  padding: 2.57rem 0 0 0;
}
.footer__section--legal p {
  padding: 0 0 1.14rem 0;
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 2.57rem;
  }
  .footer h1 {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 2.57rem;
    padding: 3.43rem 0 2.57rem 0;
  }
  .footer h2 {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 1rem;
  }
  .footer p {
    font-size: 0.93rem;
  }
  .footer img {
    padding: 0 0 0 2.57rem;
  }
  .footer__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__heading--left {
    display: flex;
    align-items: baseline;
  }
  .footer__heading--logotabdesk {
    display: flex;
    justify-content: flex-end;
  }
  .footer__section {
    display: flex;
    justify-content: space-between;
  }
  .footer__section--component {
    padding: 0 0 2.57rem 0;
  }
  .footer__section--logomobile {
    display: none;
  }
  .footer__section--legal p {
    padding: 0 0 2.57rem 0;
  }
}
@media (min-width: 1280px) {
  .footer {
    box-sizing: border-box;
    padding: 0 2.57rem;
    width: 1020px;
  }
  .footer__container {
    background-color: #323232;
    display: flex;
    justify-content: center;
  }
  .footer__section {
    width: 660px;
    display: flex;
    justify-content: space-between;
  }
  .footer__section--component {
    padding: 0 0 2.57rem 0;
  }
  .footer__section--logomobile {
    display: none;
  }
}
.gallery {
  padding: 0 1.14rem;
  background-color: #FAFAFA;
  color: #323232;
}
.gallery h1 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1.7rem;
  padding: 1.7rem 0 1.14rem 0;
}
.gallery img {
  width: 100%;
  height: auto;
  padding: 0 0 1.14rem 0;
}
.gallery__images--column {
  display: none;
}

@media (min-width: 768px) {
  .gallery {
    padding: 0;
  }
  .gallery h1 {
    padding: 3.43rem 0 2.57rem 2.57rem;
    font-size: 2.57rem;
  }
  .gallery__images {
    display: flex;
    padding: 0 1.29rem;
  }
  .gallery__images--column {
    display: inline;
    padding: 0 1.29rem;
  }
  .gallery__images--row {
    display: none;
  }
  .gallery img {
    padding: 0 0 2.57rem 0;
  }
}
@media (min-width: 1280px) {
  .gallery {
    width: 1020px;
    padding: 0;
  }
  .gallery__container {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
  }
}
.header {
  background-color: #323232;
  font-family: "Avenir Next LT Pro Regular";
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 1.14rem 0 0 0;
}
.header__logo img {
  max-height: 20px;
  max-width: 120px;
}
.header__links {
  display: flex;
  list-style: none;
  color: #FFFFFF;
  justify-content: space-evenly;
}
.header__links--link {
  padding: 1.14rem 0;
  width: 100%;
  text-align: center;
}
.header__links--link a {
  text-decoration: none;
  color: inherit;
}
.header__links--active {
  font-family: "Avenir Next LT Pro Demi";
  border-bottom: solid;
}
.header__links--inactive {
  color: #E1E1E1;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    padding: 0;
    font-family: "Avenir Next LT Pro Regular";
  }
  .header__logo {
    padding: 2.57rem;
  }
  .header__links {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    justify-content: space-evenly;
    height: 100%;
  }
  .header__links--link {
    padding: 2.57rem 0;
    margin: 0 2.57rem;
  }
  .header__links--active {
    font-family: "Avenir Next LT Pro Demi";
    border-bottom: solid;
  }
}
@media (min-width: 1280px) {
  .header {
    width: 1020px;
  }
  .header__container {
    background-color: #323232;
    display: flex;
    justify-content: center;
  }
}
.hero {
  display: flex;
  text-align: left;
  position: relative;
}
.hero img {
  width: 100%;
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__text--outer {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
  color: #FFFFFF;
  font-size: 1.7rem;
  font-family: "Avenir Next LT Pro Demi";
  padding: 0 1.14rem;
}
.hero__text--overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.5;
  top: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
  }
  .hero img {
    height: 55vw;
  }
  .hero h1 {
    font-size: 4.29rem;
    padding: 0 2.57rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: center;
  }
  .hero h1 {
    padding: 0 2.57rem;
  }
  .hero img {
    height: 50vw;
  }
  .hero__text--outer {
    width: 1020px;
    box-sizing: border-box;
  }
}
.comments {
  padding: 0 1.14rem;
  color: #323232;
}
.comments h1 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1.7rem;
  padding: 1.7rem 0 1.14rem 0;
}
.comments h3 {
  color: #AFAFAF;
  font-size: 0.71rem;
  font-family: "Avenir Next LT Pro Demi";
  padding: 0 0 0.29rem 0;
}
.comments input::-moz-placeholder {
  color: #323232;
}
.comments input:-ms-input-placeholder {
  color: #323232;
}
.comments input::placeholder {
  color: #323232;
}
.comments input:focus {
  outline: none;
  border-color: #323232;
}
.comments__input {
  display: flex;
  width: 100%;
}
.comments__input--avatar {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin: 1.4rem 1.14rem 0 0;
}
.comments__input--name-field, .comments__input--comment-field {
  box-sizing: border-box;
  min-height: 2.57rem;
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  line-height: 0;
  padding: 0.86rem;
  margin: 0 0 1.14rem 0;
}
.comments__input--name-field ::-moz-placeholder, .comments__input--comment-field ::-moz-placeholder {
  color: red;
}
.comments__input--name-field :-ms-input-placeholder, .comments__input--comment-field :-ms-input-placeholder {
  color: red;
}
.comments__input--name-field ::placeholder, .comments__input--comment-field ::placeholder {
  color: red;
}
.comments__input--comment-field {
  height: 5rem;
}
.comments__input--button {
  background-color: #323232;
  box-sizing: border-box;
  height: 2.86rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Avenir Next LT Pro Demi";
  margin: 0 0 1.14rem 0;
}
.comments__input--button:hover {
  background-color: #000000;
  cursor: pointer;
}
.comments__input--section2 {
  width: 100%;
}

.panel {
  padding: 0 1.14rem;
}
.panel__comment {
  border-top: solid 1px #E1E1E1;
  padding: 1.14rem 0;
  display: flex;
}
.panel__comment--avatar {
  min-width: 36px;
  height: 36px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 1.14rem;
}
.panel__comment--details {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.panel__comment--details h3 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1.14rem;
  color: #323232;
  padding: 0 0 1.14rem 0;
}
.panel__comment--details span {
  color: #AFAFAF;
}

.panel__comment:last-child {
  border-bottom: solid 1px #E1E1E1;
  padding: 1.14rem 0;
  margin-bottom: 1.14rem;
}

@media (min-width: 768px) {
  .comments {
    padding: 0;
  }
  .comments h1 {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 2.57rem;
    padding: 3.43rem 0 2.57rem 2.57rem;
  }
  .comments h3 {
    color: #AFAFAF;
    font-size: 0.71rem;
    font-family: "Avenir Next LT Pro Demi";
    padding: 0 0 0.29rem 0;
  }
  .comments__input {
    padding: 0 5.7rem;
    box-sizing: border-box;
  }
  .comments__input--avatar {
    margin: 1.4rem 1.14rem 0 0;
  }
  .comments__input--name-field, .comments__input--comment-field {
    box-sizing: border-box;
    min-height: 2.57rem;
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    line-height: 0;
    padding: 0.86rem;
    margin: 0 0 1.14rem 0;
  }
  .comments__input--name-field ::-moz-placeholder, .comments__input--comment-field ::-moz-placeholder {
    color: red;
  }
  .comments__input--name-field :-ms-input-placeholder, .comments__input--comment-field :-ms-input-placeholder {
    color: red;
  }
  .comments__input--name-field ::placeholder, .comments__input--comment-field ::placeholder {
    color: red;
  }
  .comments__input--comment-field {
    height: 5rem;
  }
  .comments__input--button {
    background-color: #323232;
    box-sizing: border-box;
    height: 2.86rem;
    width: 30%;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Avenir Next LT Pro Demi";
    margin-bottom: 1.14rem;
    margin-left: 70%;
  }
  .comments__input--button:hover {
    background-color: #000000;
    cursor: pointer;
  }
  .comments__input--section2 {
    width: 100%;
  }
  .panel {
    padding: 0 5.7rem;
  }
  .panel__comment {
    border-top: solid 1px #E1E1E1;
    padding: 1.14rem 0;
    display: flex;
  }
  .panel__comment--avatar {
    min-width: 36px;
    height: 36px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 50%;
    -o-object-fit: fill;
       object-fit: fill;
    margin-right: 1.14rem;
  }
  .panel__comment--details {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }
  .panel__comment--details h3 {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 1.14rem;
    color: #323232;
    padding: 0 0 1.14rem 0;
  }
  .panel__comment--details span {
    color: #AFAFAF;
  }
  .panel__comment:last-child {
    border-bottom: solid 1px #E1E1E1;
    padding: 1.14rem 0;
    margin-bottom: 1.14rem;
  }
}/*# sourceMappingURL=bio.css.map */