@font-face {
  font-family: "Avenir Next LT Pro Regular";
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro Demi";
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro Bold";
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h1, h2, p, section, article {
  font-family: "Avenir Next LT Pro Regular";
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1.14rem;
}
.footer h1 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1.7rem;
  padding: 1.7rem 0 1.14rem 0;
}
.footer h2 {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1rem;
}
.footer p {
  font-size: 0.93rem;
}
.footer img {
  padding: 0 1.14rem 1.14rem 0;
}
.footer__heading--logotabdesk {
  display: none;
}
.footer__section--component {
  padding: 0 0 1.14rem 0;
}
.footer__section--logomobile {
  padding: 2.57rem 0 0 0;
}
.footer__section--legal p {
  padding: 0 0 1.14rem 0;
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 2.57rem;
  }
  .footer h1 {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 2.57rem;
    padding: 3.43rem 0 2.57rem 0;
  }
  .footer h2 {
    font-family: "Avenir Next LT Pro Demi";
    font-size: 1rem;
  }
  .footer p {
    font-size: 0.93rem;
  }
  .footer img {
    padding: 0 0 0 2.57rem;
  }
  .footer__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__heading--left {
    display: flex;
    align-items: baseline;
  }
  .footer__heading--logotabdesk {
    display: flex;
    justify-content: flex-end;
  }
  .footer__section {
    display: flex;
    justify-content: space-between;
  }
  .footer__section--component {
    padding: 0 0 2.57rem 0;
  }
  .footer__section--logomobile {
    display: none;
  }
  .footer__section--legal p {
    padding: 0 0 2.57rem 0;
  }
}
@media (min-width: 1280px) {
  .footer {
    box-sizing: border-box;
    padding: 0 2.57rem;
    width: 1020px;
  }
  .footer__container {
    background-color: #323232;
    display: flex;
    justify-content: center;
  }
  .footer__section {
    width: 660px;
    display: flex;
    justify-content: space-between;
  }
  .footer__section--component {
    padding: 0 0 2.57rem 0;
  }
  .footer__section--logomobile {
    display: none;
  }
}
.header {
  background-color: #323232;
  font-family: "Avenir Next LT Pro Regular";
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 1.14rem 0 0 0;
}
.header__logo img {
  max-height: 20px;
  max-width: 120px;
}
.header__links {
  display: flex;
  list-style: none;
  color: #FFFFFF;
  justify-content: space-evenly;
}
.header__links--link {
  padding: 1.14rem 0;
  width: 100%;
  text-align: center;
}
.header__links--link a {
  text-decoration: none;
  color: inherit;
}
.header__links--active {
  font-family: "Avenir Next LT Pro Demi";
  border-bottom: solid;
}
.header__links--inactive {
  color: #E1E1E1;
}
.header__links--inactive:hover {
  border-bottom: solid 1px #FFFFFF;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    padding: 0;
    font-family: "Avenir Next LT Pro Regular";
  }
  .header__logo {
    padding: 2.57rem;
  }
  .header__links {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    justify-content: space-evenly;
    height: 100%;
  }
  .header__links--link {
    padding: 2.57rem 0;
    margin: 0 2.57rem;
  }
  .header__links--active {
    font-family: "Avenir Next LT Pro Demi";
    border-bottom: solid;
  }
}
@media (min-width: 1280px) {
  .header {
    width: 1020px;
  }
  .header__container {
    background-color: #323232;
    display: flex;
    justify-content: center;
  }
}
.hero {
  display: flex;
  text-align: left;
  position: relative;
}
.hero img {
  width: 100%;
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__text--outer {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
  color: #FFFFFF;
  font-size: 1.7rem;
  font-family: "Avenir Next LT Pro Demi";
  padding: 0 1.14rem;
  width: 100%;
  box-sizing: border-box;
}
.hero__text--overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.5;
  top: 0;
  overflow: hidden;
}
.hero__shows img {
  width: 100%;
  height: 90vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__shows h1 {
  font-size: 1.7rem;
  width: 70%;
  font-family: "Avenir Next LT Pro Demi";
  padding-bottom: 1.14rem;
}
.hero__shows h3 {
  font-family: "Avenir Next LT Pro Regular";
  padding-bottom: 1.14rem;
}
.hero__shows iframe {
  height: 8rem;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
  }
  .hero img {
    height: 55vw;
  }
  .hero__text--outer {
    padding: 0 2.57rem;
    font-size: 4.29rem;
  }
  .hero__shows img {
    width: 100%;
    height: 70vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__shows h1 {
    font-size: 4.29rem;
    width: 75%;
    padding-bottom: 3.43rem;
  }
  .hero__shows h3 {
    font-size: 1.7rem;
    padding-bottom: 1.14rem;
  }
  .hero__shows iframe {
    height: 10rem;
    width: 55%;
  }
}
@media (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: center;
  }
  .hero h1 {
    padding: 0 2.57rem;
  }
  .hero img {
    height: 50vw;
  }
  .hero__text--outer {
    width: 1020px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .hero__shows h1 {
    padding: 0;
    width: 80%;
  }
  .hero__shows iframe {
    height: 10rem;
    width: 60%;
  }
}
.shows__header {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 1.7rem;
  padding: 1.7rem 1.14rem 0 1.14rem;
}
.shows__heading {
  display: none;
}
.shows__listing {
  border-bottom: solid 1px #E1E1E1;
  padding: 0 1.14rem;
}
.shows__listing--header {
  color: #AFAFAF;
  font-size: 0.71rem;
  font-family: "Avenir Next LT Pro Demi";
  padding: 1.14rem 0 0.29rem 0;
}
.shows__listing--date {
  font-family: "Avenir Next LT Pro Demi";
}
.shows__listing--button {
  background-color: #323232;
  box-sizing: border-box;
  height: 2.86rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Avenir Next LT Pro Demi";
  margin: 1.14rem 0;
}
.shows__listing--button:hover {
  background-color: #000000;
  cursor: pointer;
}
.shows__listing:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
.shows :last-child {
  margin-bottom: 1.14rem;
}
.shows__headers {
  display: none;
}

.active {
  background-color: #E1E1E1;
}

@media (min-width: 768px) {
  .shows__header {
    font-size: 2.57rem;
    padding: 3.43rem 2.57rem 0 2.57rem;
  }
  .shows__heading {
    font-size: 0.857rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.57rem 2.57rem 0.29rem 2.57rem;
    box-sizing: border-box;
    color: #AFAFAF;
    font-size: 0.71rem;
    font-family: "Avenir Next LT Pro Demi";
  }
  .shows__heading--date {
    width: 20%;
    text-align: left;
  }
  .shows__heading--venue {
    width: 20%;
    text-align: left;
  }
  .shows__heading--location {
    width: 20%;
    text-align: left;
  }
  .shows__heading--button {
    width: 20%;
    text-align: left;
  }
  .shows__listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.285rem;
    margin: 0 1.285rem;
    align-items: center;
    text-align: left;
  }
  .shows__listing--date {
    width: 20%;
    text-align: left;
    padding: 1.95rem 0;
  }
  .shows__listing--venue {
    width: 20%;
    text-align: left;
  }
  .shows__listing--location {
    width: 20%;
    text-align: left;
  }
  .shows__listing--header {
    display: none;
  }
  .shows__listing--button {
    height: 2.86rem;
    width: 20%;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Avenir Next LT Pro Demi";
    margin: 0;
  }
  .shows :last-child {
    margin-bottom: 0;
  }
  .shows__headers {
    display: flex;
    justify-content: space-between;
  }
  #my-shows:last-child {
    margin-bottom: 2.57rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    width: 1020px;
    justify-content: space-between;
  }
  .shows__container {
    display: flex;
    justify-content: center;
  }
  .shows__heading {
    font-size: 0.857rem;
    padding: 4.86rem 2.57rem 0.29rem 2.57rem;
    height: auto;
  }
  #my-shows {
    width: 75%;
  }
}/*# sourceMappingURL=shows.css.map */